h4 {
    color: #327A6D;
    cursor: context-menu;
}

.info-jumbotron {
    cursor: context-menu;
}

.pertanyaan {
    position: relative;
    background: #CBE3D9;
    transition: transform .2s;
    border-radius: .5rem;
}

.pertanyaan1.card-hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.pertanyaan2.card-hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.pertanyaan3.card-hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.pertanyaan4.card-hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.pertanyaan5.card-hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.pertanyaan6.card-hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.div-card {
    padding: 2%;
}

.badan {
    justify-content: center;
    max-width: 80%;
}

.baris {
    display: flex;
    justify-content: space-between;
}

.isi a {
    font-size: smaller;
    text-decoration: none;
    color: white;
    border-radius: 2rem;
}

.panel-default>.panel-heading {
    color: #CBE3D9;
    background-color: #327A6D;
    border-color: #e4e5e7;
    padding: 0;
    border-radius: .2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-default>.panel-heading a {
    display: block;
    padding: 10px 30px;
}

.panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
}

.panel-default {
    background: white;
}

.panel-default .panel-body {
    background: white;
    padding: 0rem 2rem 2rem 2rem;
}

.section-one {
    margin-top: 6rem;
}

.section-two {
    margin-top: 6rem;
}

.section-two .lebih a {
    color: #f8a23d !important;
    text-decoration: none;
}

.jumbotron .search {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0;
    padding: 1rem;
    height: 2rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 1rem;
    align-items: center;
    background: white;
    border-radius: .2rem;
}

.jumbotron .search input {
    width: 100%;
    border: none;
    color: #383838;
    margin-left: .5rem;
}

.jumbotron .search input::-webkit-calendar-picker-indicator {
    display: none;
}

.jumbotron .search .input-search:focus {
    border-style: none;
    outline-width: 0;
}

.jumbotron .search i {
    color: #bababa;
}


/* .rotate{
    transform: rotate(45deg);
  }
  .panel-default>.panel-heading a[aria-expanded="true"]{
    color: #91e378;
  }
  .panel-default>.panel-heading a[aria-expanded="true"] i{
    transform: rotate(1deg);
  } */

.jumbotron .tombol {
    position: absolute;
    right: 0;
    padding: .6rem 1rem;
    background: #bababa;
    border: .1rem solid #bababa;
    border-radius: none !important;
}

.card-row {
    display: flex;
    justify-content: center;
}

.section-one h5 {
    font-size: 1rem !important;
}

.section-one p {
    font-size: .8rem !important;
}

.lainnya {
    display: none;
}

.lainnya .datang {
    display: block;
}

#div1 {
    display: block;
    position: relative;
}

#div2 {
    display: none;
    position: relative;
}

#div3 {
    display: none;
}

#div4 {
    display: none;
}

#div5 {
    display: none;
}

#div6 {
    display: none;
}

.aktif {
    background: white !important;
}

.kategori i {
    transform: rotate(-90deg);
    transition: transform .2s;
}

.pointer {
    cursor: pointer;
}

.muncul {
    display: block;
}


/* acordion */

.cards-cover {
    padding: 0;
}

.cards-cover-all {
    display: none;
}

.cards-header {
    display: flex;
    margin: 0rem 1rem;
    border-radius: 5px;
    align-items: center;
    background: #327A6D;
    color: white;
    padding: .2rem;
}

.cards-header h5 {
    margin: .5rem;
    display: flex !important;
    align-items: center !important;
}

.cards-header span {
    margin-left: 2rem;
    transition: transform .3s;
}

.cards-body {
    padding-top: .5rem;
    padding-left: 2rem;
    margin-right: 1rem;
    display: none;
}

.accordian .cards {
    margin-bottom: 1rem;
    cursor: pointer;
}

.rotate {
    transform: rotate(90deg);
}

.gambar-panduan {
    width: 100%;
}

.gambar-panduan-android {
    width: 40%;
    margin-left: 30%;
}